---
title: Default
description: Default custom delimiters and content
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{titleize this.basename}}</title>
  </head>
  <body>
    {{> body }}
  </body>
</html>