---
title: Multiple occurrences
description: This page has multiple occurrences of yaml front matter.
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{titleize this.basename}}</title>
  </head>
  <body>
    {{> body }}
  </body>
</html>
~~~
title: Default
description: Home page
~~~

---
title: Default
description: Home page
---

---
title: Default
description: Home page
---